body {
	margin: 0;
}

div {
	font-size: 40px;
	background-color: #DDD;

}

.flex-container {
	padding: 50px;
	margin-top: 100px;
	background-color: #fff; 
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.first {
	transition: top .2s ;
	position: fixed;
	top: 0;
	margin-bottom: -100px;
	min-width: 100%;
	min-height: 100px;
}

.second, .third {
	display: flex;
	margin: 50px;
	min-width: 500px;
	max-width: 600px;
	min-height: 1500px;
}

.fourth {

	height: 1500px;
	
}