body {
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	display: flex;
    align-items: center;
    justify-content: center;


}

div {
	text-align: right;
	margin: 20px;
}

@media(max-width: 640px) {
	body {
		font-size: 9vw;
	}
}